body {
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}

/* Header styling */
.header {
    height: 70px;
    background-color: #000080;
    font: white;
}

nav {
    height: 70px;
    display: flex;
}

.header nav ul li a {
    color: #ffffff;
    font-size: 40px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    font-size: 30px;
    align-items: center;
    justify-content: space-evenly;
}

li {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}

/* About me styling */
.hero {
    height: 850px;
    flex-direction: row;
    width: 70%;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    font-size: 40px;
}

.hero h1 {
    font-size: 60px;
}

.hero h2 {
    font-size: 40px;
    text-decoration: underline;
}

.hero img {
    justify-content: space-around;
}

.social-links {
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}


/* Projects styling*/
.work {
    height: 1400px;
    background-color: #6fbacf;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.work h2 {
    width: 40%;
    position: relative;
    margin: auto;
    padding: 0.5rem 1rem;
    border: 2px solid;
    border-radius: 20px;
    background-color: rgb(83, 104, 175);
    font-size: 50px;
    text-align: center;
}
   
.main-project {
    background-color: #ffffff;
    height: 500px;
    width: 70%;
    border: 2px;
    border-style: hidden;
    margin: 0px 15% 0px 15%;
    font-size: 30px;
}

.main-project img {
    height: 75%;
    width: 100%;
}

.main-project h3 {
    position: relative;
    margin: -2.5rem 23% 1.5rem 23%;
    padding: 0.5rem 1rem;
    border: 2px solid;
    border-radius: 50px;
    background-color: aqua;
    width: 50%;
    font-size: 35px;
    text-align: center;
}

.main-project p {
    
    position: relative;
    margin: -1rem 15% 1.5rem 15%;
    text-align: center;
}

.side {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.side-project {
    background-color: #ffffff;
    height: 350px;
    width: 34%;
    border: 2px;
    border-style: hidden;
    margin: 0px 1% 15px 1%;
}

.side-project img {
    height: 60%;
    width: 100%
}

.side-project h3 {
    position: relative;
    margin: -2.5rem 18% 1.5rem 18%;
    padding: 0.5rem 1rem;
    border: 2px solid;
    border-radius: 50px;
    background-color: aqua;
    width: 60%;
    font-size: 30px;
    text-align: center;
}

.side-project p {
    font-size: 25px;
    position: relative;
    margin: -1rem 15% 1.5rem 15%;
    text-align: center;
}

/* Contact info styling */
.contact-info {
    flex-direction: row;
    text-align: center;
}

.contact-me {
    margin-right: 10px;
    margin-left: 10px;
}

/* Footer styling */
footer {
    height: 75px;
    text-align: center;
}

/* Pseudo ELements */
::selection {
    background-color: blueviolet;
    color: aqua;
}

.main-project:hover {
    border: 10px solid;
    border-color: aqua;
}

.side-project:hover {
    border: 10px solid;
    border-color: aqua;
}

/* Media queries */
@media screen and (max-width: 768px) {
    .hero {
        height: 900px;
    }

    .work {
        height: 2100px;
    }
    
    .side-project {
        width: 70%;
    }  
}

@media screen and (max-width: 425px) {
    .header nav ul li a {
        font-size: 20px;
    }

    .hero {
        font-size: 25px;
        height: 700px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .main-project {
        font-size: 25px;
    }

    .main-project h3 {
        font-size: 30px;
    }
    
    .work h2 {
        font-size: 30px;
    }

    .work .mp-image {
        height: 60%;
    }

}